<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/styles.css" />
<title>ShopKart - User Cart</title>
</head>
<body>

<nav class="navigation">
	<h1> <span class="logo"><img src="/images/logo.png" alt="ShopKartlogo">hopKart</span></h1>
	<div class="search-bar"></div>
	<div class="nav-links">
		<a class="cart" href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"> </i>Cart</a>
		<a class="logout" href="/logout">logout</a>
	</div>
</nav>
<script th:if="${successMessage}" th:inline="javascript">
alert('[[${successMessage}]]');
</script>
<script th:if="${errorMessage}" th:inline="javascript">
alert('[[${errorMessage}]]');
</script>
<div class="user-body">
<div class="user-menu">
	<div class="contain">
		<a href="/cart" class="user"><img th:if="${user.photoBase64}" th:src="'data:image/jpeg;base64,' + ${user.photoBase64}" 
			alt="profile" >
		<p><span th:text="${user.name}"></span></p></a>
		<div><a href="/home"><i class="fa fa-home"></i>Home</a></div>
		<div><a href="#"><i class="fa-solid fa-box"></i>My Orders</a></div>
		<div><a href="#"><i class="fa-solid fa-file-contract"></i>Terms & Conditions</a></div>
		<div><a href="#"><i class="fa fa-info-circle"></i>About Us</a></div>
		<div><a href="#"><i class="fa fa-address-book"></i>Contact Us</a></div>
	</div>
</div>
<div class="container">
	<div class="cart-display">
	    <div class="head"><h1>Your Cart</h1></div>

    <div th:if="${cartItems.isEmpty()}">
        <p>Your cart is empty.</p>
    </div>

    <table th:if="${!cartItems.isEmpty()}">
        <tbody>
            <tr th:each="cart : ${cartItems}">
            	<td><img th:if="${cart.product.photoBase64}" th:src="'data:image/jpeg;base64,' + ${cart.product.photoBase64}" 
            	alt="product" ></td>
                <td th:text="${cart.product.brand}"></td>
                <td class="pname" th:text="${cart.product.pname}"></td>
                <td th:text="@{'₹'+${cart.product.price}}"></td>
                <td>
                    <a th:href="@{/orderProduct(pid = ${cart.product.pid})}" class="check-out">Check out</a>
                </td>
                <td>
                    <a th:href="@{/removeCartItem(id=${cart.id})}" class="remove" onClick="return confirm('Are you sure?')"><i class="fa fa-trash" style="font-size:14px; margin-right: 2px;" aria-hidden="true"></i>Remove</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/home" style="margin: 30px 0;"><button>Continue Shopping</button></a>
    </div>

</div>
	
</body>
</html>