<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <title>ShopKart - Deal on!</title>
</head>

<body>
  

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="/signup" method="post" id="verify1">
                <h1>Create Account <br/> <span class="logo"><img src="/images/logo.png" alt="ShopKartlogo">hopKart</span></h1>
                <div class="social-icons">
                    <a href="#" class="icon" onclick="alert('Something went wrong! Try another way');"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon" onclick="alert('Something went wrong! Try another way');"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon" onclick="alert('Something went wrong! Try another way');"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon" onclick="alert('Something went wrong! Try another way');"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="Name" name="name" required>
                <input type="email" placeholder="Email" name="email" required>
                <!-- <p class="caution">Please remember your password for future purpose</p> -->
                <input type="password" placeholder="Password" name="password" required>
                        	<button class="g-recaptcha" 
       		data-sitekey="6LdPookqAAAAAMJH95JZli0a4BE_oSwdecWvjuFE" 
        	data-callback='onSubmit1' 
        	data-action='submit'>sign up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/login" method="post" id="verify2">
                
                <h1>Sign In <br/> <span class="logo"><img src="/images/logo.png" alt="ShopKartlogo">hopKart</span> </h1>
               
                <div class="social-icons">
                    <a href="#" class="icon" onclick="alert('Something went wrong! Try another way');"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon" onclick="alert('Something went wrong! Try another way');"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon" onclick="alert('Something went wrong! Try another way');"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon" onclick="alert('Something went wrong! Try another way');"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <a href="/forgotPassword">Forget Your Password?</a>
                        	<button class="g-recaptcha" 
       		data-sitekey="6LdPookqAAAAAMJH95JZli0a4BE_oSwdecWvjuFE" 
        	data-callback='onSubmit2' 
        	data-action='submit'>Sign in</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    
                    <h1>Welcome Back!</h1>
                    <p>Already registered? sign in here and continue shopping</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, User!</h1>
                    <p>New here? Register your self now and start shopping</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    
    

    <script src="/script/script.js"></script>

</body>
        <script>
   		function onSubmit1(token) {
     		document.getElementById("verify1").submit();
   		}
   		function onSubmit2(token) {
     		document.getElementById("verify2").submit();
   		}
 	</script>

</html>