<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/styles.css" />
<title>ShopKart - Your profile</title>
</head>
<body>

<nav class="navigation">
	<h1> <span class="logo"><img src="/images/logo.png" alt="ShopKartlogo">hopKart</span></h1>
	<div class="search-bar"></div>
	<div class="nav-links">
		<a class="cart" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"> </i>Cart</a>
		<a class="logout" href="/logout">logout</a>
	</div>
</nav>
    <script th:if="${successMessage}" th:inline="javascript">
        alert('[[${successMessage}]]');
    </script>
    <script th:if="${errorMessage}" th:inline="javascript">
        alert('[[${errorMessage}]]');
    </script>
<div class="user-body">
<div class="user-menu">
	<div class="contain">
		<a href="/userProfile" class="user"><img th:if="${user.photoBase64}" th:src="'data:image/jpeg;base64,' + ${user.photoBase64}" 
			alt="profile" >
		<p><span th:text="${user.name}"></span></p></a>
		<div><a href="/home"><i class="fa fa-home"></i>Home</a></div>
		<div><a href="#"><i class="fa-solid fa-box"></i>My Orders</a></div>
		<div><a href="#"><i class="fa-solid fa-file-contract"></i>Terms & Conditions</a></div>
		<div><a href="#"><i class="fa fa-info-circle"></i>About Us</a></div>
		<div><a href="#"><i class="fa fa-address-book"></i>Contact Us</a></div>
	</div>
</div>
	<div class="container">
	
		<div class="profile">
		<h1>Your Profile</h1>
		<div class="profile-photo"><img th:if="${user.photoBase64}" th:src="'data:image/jpeg;base64,' + ${user.photoBase64}" 
			alt="profile" ></div>
		<div class="profile-info">
			<div>
				<p><strong>Name:</strong> <span th:text="${user.name}"></span></p>
				<p><strong>E-mail:</strong> <span th:text="${user.email}"></span></p>
			</div>
			<div>
				<p><strong>Mobile number:</strong> <span th:text="${user.phone}"></span></p>
				<p><strong>Date of Birth:</strong> <span th:text="${user.dob}"></span></p>
			</div>
		</div>
		<div class="profile-address">
			<h2>Address</h2>
			<div>
				<p><strong>State:</strong> <span th:text="${user.state}"></span></p>
				<p><strong>City:</strong> <span th:text="${user.city}"></span></p>
				<p><strong>Pin Code:</strong> <span th:text="${user.pinCode}"></span></p>
			</div>
			<p><strong>Area:</strong> <span th:text="${user.address1}+', '+${user.address2}"></span></p>
			<div class="space"></div>
			<a class="accept-but" href="/editProfile">Edit Profile</a>
		</div>
		</div>
		
	</div>
</div>
	
</body>
</html>