<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>User not found!</title>
</head>

<body>
  
	<form action="/success" method="get">
    <div class="container1" id="container1">
    
       		<img src="/images/error.png"  alt="error"/>
       		<p>Invalid Email or Password! <br><span style="font-size: 12px; font-weight: 8000;">Note: If you are new here create an account first</span> </p>
      		<button type="submit" >Go back</button>
      		
    </div>
    </form>>

    <script src="/script/script.js"></script>
</body>

</html>