<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <style>
    	.danger::placeholder{
    		color: red;
    		opacity: 0.8;
    	}
    </style>
    <title>ShopKart - Administrator</title>
</head>

<body>
  

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="/addAdmin" method="post" id="verify1">
                <h1>Register yourself <br/> <span class="logo"><img src="/images/logo.png" alt="ShopKartlogo">hopKart ADMIN</span></h1>
                <div class="social-icons"></div>
                <input type="text" placeholder="Enter 5 digit ID" name="adminId" required>
                <input type="password" placeholder="Password" name="password" required>
                <!-- <p class="caution">Please enter the server secret code below</p> -->
                <input class="danger" type="password" placeholder="Please enter the server secret code here" name="secretCode" required>
                <button class="g-recaptcha" 
       		data-sitekey="6LdPookqAAAAAMJH95JZli0a4BE_oSwdecWvjuFE" 
        	data-callback='onSubmit1' 
        	data-action='submit'>Sign up as admin</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/adminLogin" method="post" id="verify2">
                
                <h1>Credentials here<br/> <span class="logo"><img src="/images/logo.png" alt="ShopKartlogo">hopKart ADMIN</span> </h1>
				<div class="social-icons"></div>
                <input type="text" placeholder="Admin ID" name="adminId" required>
                <input type="password" placeholder="Password" name="password" required>
            
                <button class="g-recaptcha"
       		data-sitekey="6LdPookqAAAAAMJH95JZli0a4BE_oSwdecWvjuFE" 
        	data-callback='onSubmit2' 
        	data-action='submit'>Get access</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    
                    <h1>Welcome Back Admin!</h1>
                    <p>Enter your credentials to get access into the server</p>
                    <button class="hidden" id="login">Get Access</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Partner!</h1>
                    <p>Got the secret Code? Register yourself as an Admin</p>
                    <button class="hidden" id="register">Sign Up as Admin</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/script/script.js"></script>
        <script>
   		function onSubmit1(token) {
     		document.getElementById("verify1").submit();
   		}
   		function onSubmit2(token) {
     		document.getElementById("verify2").submit();
   		}
 	</script>

</body>

</html>