<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Administrator work - edit product</title>
</head>

<body>
    <nav class="navigation">
        <h1>
            <span class="logo"><img src="/images/logo.png" alt="ShopKartlogo">Administrator</span>
        </h1>
        <div class="search-bar"></div>
        <div class="nav-links">
            <a class="logout" href="/admin">logout</a>
        </div>
    </nav>
    <div class="user-body">
        <div class="user-menu">
            <div class="contain">
                <a href="#" class="user"><img src="/images/profile.jpg" alt="profile">
                    <p>Admin-ID</p>
                </a>
                <div><a href="/addProduct"><i class="fa-solid fa-bookmark"></i>All Products</a></div>
                <div>
                    <a href="#"><i class="fa-solid fa-box-open"></i>All Orders</a>
                </div>
                <div>
                    <a href="/allUsers"><i class="fa-solid fa-user"></i>All Users</a>
                </div>
                <div>
                    <a href="#"><i class="fa-solid fa-bell"></i>Contact
                        notification</a>
                </div>
                <div class="add-product">
                    <h2>Add new product here</h2>
                    <form action="/addProduct" method="post" enctype="multipart/form-data">
                        <input type="text" name="pname" placeholder="Product Name" required /> <br>
                        <input type="text" name="brand" placeholder="Brand" required /> <br> 
                        <input type="text" name="price" placeholder="Price" required /> <br>
                        <textarea name="pdescription" placeholder="Description" required></textarea>
                        <br> <input type="file" name="pimage" class="addphoto" accept="image/*" /> <br>
                        <button type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="update-user-from-admin">
                
                <table>
                <thead>
                <tr>
                	<th>ID</th>
                	<th>E-mail</th>
                	<th>Name</th>
                	<th>Mobile No</th>
                	<th>City</th>
                	<th></th>
                	<th></th>
                </tr>
				</thead>
				<tbody >
				<tr th:each="user : ${allUsers}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.phone}"></td>
					<td th:text="${user.city}"></td>
					<td ><a th:href="@{/editUser(id = ${user.id})}" class="edit">Edit</a></td>
					<td ><a th:href="@{/deleteUser(id = ${user.id})}" onClick="return confirm('Are you sure?')" class="delete">Delete</a></td>
				</tr>
				</tbody>
				</table>
            </div>
        </div>
    </div>
</body>

</html>