@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{

   	transition: ease 0.1s;
    font-family: 'Montserrat', sans-serif;
}

body{
	margin: 0;
   	padding: 0;
    background-color: #eaeaea;
 
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;    
}


.navigation {
	margin: auto;
	background: #101010;
	width: 100%;
	color: #fff;
	display: flex;
	flex-direction: row;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
	position: fixed;
}

h1{
	width: 13%;
}

h1 .logo {
    display: flex;
    align-items: center;
    justify-content: start;
    
}


.logo img{
    height: 35px;
    
    filter: invert(1);
} 



.navigation a {
	text-decoration: none;
	color: #fff;
}
	
.navigation .logout {
	background: #fff;
	color: #101010;
	padding: 3px 10px;
	border-radius: 6px;
	margin-left: 10px;
	cursor: pointer;
}

.navigation .search-bar{
	width: 67%;
}

.navigation .navlinks{
	width: 40%;
	
}

.user-body{
	width: 100%;
	display: flex;
	
	flex-direction: row;
}  

.user-menu{
	width: 23%;
	height: 800px;
	background: #f1f1f1;
	margin: 85px auto auto auto;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	
	.contain{
		margin: 0 20px;
		div{
			margin: 15px 0;
		}	
		
	}
	.user{
		display: flex;
		align-items: center;
		font-size: 24px;
	}
	img{
		margin-right: 6px;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		object-fit: contain;
	}
	a {
		text-decoration: none;
		color: #101010;
		i{
			margin: 0 6px 0 12px;
		}
	}
	
   
}
.container{
	width: 75%;
	background: #f1f1f1;
	margin: 85px auto auto auto;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column; 
  
}

.product{
	margin: 20px;
	display: flex;
}

.pimg{
	height: 250px;
	min-width: 300px;
	border-radius: 10px;
	object-fit: contain;
	mix-blend-mode: multiply;
}

.price{
	font-size: 24px;
	margin: 10px 0 20px 0;
}

.product-info {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	font-size: 16px;
	.name {
		font-size: 21px;
		margin-bottom: 10px;
		width: 100%;
	}
	a {
	text-decoration: none;
	color: #525252;
	}
	
	a:hover{
	color: #070f3e;
	}
}

.container-p {
	width: 75%;
	background: #f1f1f1;
	margin: 85px auto auto auto;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column; 



.product{
	margin: 20px;
	width: 95%;
	display: flex;
}

.x{
width: 85%;
display: flex;
	flex-direction: row;
}

.pimg{
	height: 250px;
	min-width: 300px;
	border-radius: 10px;
	object-fit: contain;
	mix-blend-mode: multiply;
}

.price{
	font-size: 24px;
	margin: 10px 0 20px 0;
}

.product-info {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	font-size: 16px;
	.name {
		font-size: 21px;
		margin-bottom: 10px;
	}
	a {
	text-decoration: none;
	color: #525252;
	}
	
	a:hover{
	color: #070f3e;
	}
}

.action-buttons{
	width: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
	a{
		text-decoration: none;
	}
	.edit{
		margin: 5px;
		padding: 5px 20px;
		background-color: green;
		color: #fff;
		border-radius: 5px;
	}
	.delete{
		margin: 5px;
		padding: 5px 10px;
		background-color: red;
		color: #fff;
		border-radius: 5px;
	}
	
}
}

.add-product{
	display: flex;
	flex-direction: column;
	align-items: center;
	h2{
	margin-top: 25px;
	}
}
  
input, textarea{
    background-color: #eee;
    border: none;
    margin: auto;
    border: solid 1px gray;
   	padding:10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 75%;
    outline: none;
}
button{
    background-color: #101010;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.update-product {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	h2{
		font-size: 48px;
	}
	.specs{
		height: 180px;
	}
	.displayphoto, .addphoto, .pimg{
	display: flex;
	padding: auto;
	align-items: center;
	padding: 10px 10px 0 10px;
		input{
		border: none;
		
	}
	}
	label{
	padding: 10px;
	}

}

form {
	
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
	label { 
	 width: 75%;
	 font-weight: 1000;
	}

}

.order-container {
	width: 75%;
	background: #f1f1f1;
	margin: 85px auto auto auto;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column; 
	.product{
		display: flex;
		flex-direction: column;
		justify-content: start;
	}
	.image-display{
		display: flex;
		align-items: center;
		height: 500px;
		padding: 50px 0;
		margin-top: -30px;
		.opimg{
			width: 600px;
			height: 500px;
			padding: 10px;
			object-fit: contain;
			mix-blend-mode: multiply;
		}
		div{
		width: 50%;
		img{
		width: 400px;
		height: 250px;
		padding: 10px;
		object-fit: contain;
		mix-blend-mode: multiply;
		}
		}
	}
	
	.name{
		font-size: 25px;
		.brand {font-size: 35px;}
	}
	
	.price{
		font-size: 32px;
	}
	
	.spec{
		font-size: 18px;
	}
	
	.check-out{
		display: flex;
		margin-top: 20px;
		padding: 20px;
		width: 95%;
		justify-content: end;
		.add-to-cart{
			margin: 5px 7px;
			padding: 7px 10px;
			text-decoration:none;
			border-radius: 5px;
			color: #101010;
			border: solid 1.5px #101010;
			cursor:pointer;
		}
		.add-to-cart:hover{
			background: #101010;
			
			color: #f1f1f1;
		}

		.buy-now{
			margin:5px 7px;
			padding: 7px 10px;
			border-radius: 5px;
			border: solid 1px #101010;
			cursor:pointer;
			background: #101010;
			text-decoration:none;
			color: #f1f1f1;
		}
	}

}





.profile{
	h1{
	margin: 0;
	font-size: 44px;
	width: auto;
	
	}
	.gender{
		width: 150px;
		margin: auto;
		padding: 5px 10px;
		border-radius: 8px;
	}


	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
	.profile-photo {
		margin: 20px auto auto auto;
		
		width: 200px;
		
		
		display:flex;
		flex-direction: column;
		input{
			margin: 0 auto;
			padding: 0;
			border: none;
			border-radius: 00;
		}
		select{
			background: #eee;
		}
	}
	

	
	img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: contain;
	}
	.profile-info{
		
		display:flex;
		margin-top: 40px;
		div{
		margin: 0 20px;
		p{
		
			display: flex;
			align-items: center;

			strong{
			 margin-right: 10px;
			 width: auto;
			}
		}
		}
	
	}
	.profile-info-edit{
		
		display:flex;
		margin-top: 40px;
		div{
		margin: 0 20px 0 0px;
		p{
		
			display: flex;
			align-items: center;
			strong{
			 margin-right: 10px;
			 width: 185px;
			 display: flex;
			 justify-content: end;
			}
		}
		}
	
	}
	.profile-address{
		width: 100%;
		display:flex;
		flex-direction: column;
		align-items: center;
		margin:  auto auto 40px auto;
		div{
			margin: 0;
			display:flex;
			p{
				padding: 0 20px;
							display: flex;
			align-items: center;
			strong{
			 margin-right: 10px;
			 
			 display: flex;
			 justify-content: end;
			}
			.l{
				width: 100px;
			}
			
			.xl{
				width: 170px;
			}
			}
		}
	}
	
}

		.accept-but{
			width: 100px;
			font-size: 12px;
			display:flex;
			flex-direction: column;
			align-items: center;
			text-decoration: none;
			margin-top: 10px;
			border: solid 1.5px #101010;
			cursor:pointer;
			background: #f1f1f1;
			color: #101010;
			padding: 8px 22px;
    		border-radius: 8px;
    		font-weight: 600;
    		letter-spacing: 0.5px;
    		text-transform: uppercase;
		}
		
		.accept-but:hover{
    		background: #101010;
			color: #f1f1f1;
    	}
		
		

.space{
	height: 40px;

}

.update-user-from-admin{
	margin: 20px auto 50px auto ;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2{
		font-size:44px;
	}
	a{
		text-decoration: none;
	}
	.edit{
		
		padding: 5px 20px;
		background-color: green;
		color: #fff;
		border-radius: 5px;
	}
	.delete{
		
		padding: 5px 10px;
		background-color: red;
		color: #fff;
		border-radius: 5px;
	}
	
}

table{
	width: 90%;
	
	td{
		padding: 10px 12px;
		align-items: center;
		
	}
	
	thead {
		background: #f1f1f1;
	}
	
	thead th{
		top: 75px;
		
		position: sticky;
		background: #f1f1f1;
	}
	tbody{
		padding-top: 0px;
	}
	
	th{
		border-bottom: 1px solid;
		
	}
}

.changemail{
	margin: 0 5px;
	font-size: 12px;
	width: 40px;
	color: black;
	text-decoration: none;
}

.email{
	width: 150px;
}
.name{
	width: 200px;
}

.changepassword{
	margin: 10px 5px;
	color: black;
	font-size: 12px;
	padding: 8px 12px;
	text-decoration: none;
	border: 1.5px solid;
	border-radius: 7px;
	    		font-weight: 600;
    		letter-spacing: 0.5px;
    		text-transform: uppercase;
}

		.changepassword:hover{
    		background: #101010;
			color: #f1f1f1;
    	}
.password-change{
	
	input{
		width: 150px;

	}
}


